
a ~ p{
    background: yellow;
    color: aqua;
}

a:link{
    text-decoration: none;
    display: block;
    color: aquamarine;
    font-weight: bold;
    font-size: 25px;

}
p + a{
    background: red;
}

hgroup>h3{
    background: purple;
    display: block;
}
